.contact-form {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.contact-form input,
.contact-form textarea {
  margin: 8px 0;
  padding: 10px;
  border: none;
  background: #1c1d24;
  color: var(--white);
}
.contact-form button {
  margin-top: 12px;
  padding: 12px;
  border: none;
  background: var(--accent);
  color: var(--bg);
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}
.contact-form button:hover {
  background: #cfa56a;
}
