.project-card {
  background: var(--panel);
  padding: 18px;
  margin: 18px 0;
  border: 1px solid #222;
  transition: 0.3s;
}
.project-card:hover {
  border-color: var(--accent);
  transform: translateY(-4px);
}
